<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:description" content="<%=info.description %>">
  <meta property="og:title" content="<%=info.fullName %>">
  <meta property="og:image" content="http://150.95.109.217/stylesheets/img/<%= info.path_img %>">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= info_total_home_page[0] %>
  </title>
  <link rel="shortcut icon" href="/stylesheets/img/favicon.ico" type="image/x-icon">
  <link href="/stylesheets/assets/css/font-awesome.css" rel="stylesheet">
  <link href="/stylesheets/assets/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/assets/css/slick.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/assets/css/bootstrap-datepicker.css">
  <link href="/stylesheets/assets/css/magnific-popup.css" rel="stylesheet">
  <link id="switcher" href="/stylesheets/assets/css/theme-color/default-theme.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Prata' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
  <script src="/javascripts/index.js"></script>
  <script src="/javascripts/controllGallery.js"></script>
  <div id="fb-root"></div>
  <script>(function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.12&appId=716729558716068&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
</head>

<body>

  <a class="scrollToTop" href="#">
    <i class="fa fa-angle-up"></i>
  </a>
  <header id="mu-header">
    <nav class="navbar navbar-default mu-main-navbar" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="margin-right: -121px;" href="">
            <img src="/stylesheets/img/logo.jpg" alt="Logo img">
          </a>
          <a class="navbar-brand" href="/" style="font-size: 26px;">EBC
            <span>
              <%= info_total_home_page[1] %>
            </span>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul id="top-menu" class="nav navbar-nav navbar-right mu-main-nav">
            <li>
              <a href="/">
                <%= menu_data.menu_homepage %>
              </a>
            </li>
            <li>
              <a href="#mu-about-us">
                <%= menu_data.menu_info %>
              </a>
            </li>
            <li>
              <a href="#mu-restaurant-menu">
                <%= menu_data.menu_event %>
              </a>
            </li>
            <li>
              <a href="#mu-gallery">
                <%= menu_data.menu_collection %>
              </a>
            </li>
            <li>
              <a href="#mu-contact">
                <%= menu_data.menu_contact %>
              </a>
            </li>
            <!-- <li>
              <a href="<%= menu_data.menu_login[0]['link'] %>">
                <%= menu_data.menu_login[0]['name'] %>
              </a>
            </li>
            <li>
              <a href="<%= menu_data.menu_logout[0]['link'] %>">
                <%= menu_data.menu_logout[0]['name'] %>
              </a>
            </li> -->
            <li>
              <div style="margin-top: 11px">
                <a href="/lang/en">
                  <img src="/stylesheets/img/coa.png" alt="" height="22px" width="42px">
                </a>
                <a href="/lang/vi">
                  <img src="/stylesheets/img/covn.png" alt="" height="22px" width="42px">
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <section id="mu-slider">
    <div class="container">
      <div class="row">
        <div class="col-md-8">

          <div class="row ">
            <img width="700px" alt="img" src="/stylesheets/img/<%=info.path_img %>">
          </div>
          <div class="row rowsecond">
            <h2>
              <%=info.fullName %>
            </h2>
          </div>
          <div class="row rowsecond">
            <div style="text-align: center;" class="col-sm-6">
              <p style="font-size: 20px">
                <span id="number_ungho">
                  <%=info.total_view %>
                </span>
              </p>
              <%= menu_data.view %>
            </div>
            <div class="fb-share-button" data-href="http://150.95.109.217/<%= controller %>/<%= info.id %>" data-layout="button_count"
              data-size="large" data-mobile-iframe="true">
              <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F150.95.109.217%2F<%= controller %>%2F<%= info.id %>&amp;src=sdkpreparse"
                class="fb-xfbml-parse-ignore">
                <b>Chia sẻ</b>
              </a>
            </div>
          </div>

          <div class="row rowsecond" style="width: 87%;">
            <h3>Thông tin chi tiết: </h3>
            <%=info.description %>
          </div>
        </div>
        <div class="col-md-4 fixSizecolumn">

          <% gallery_details.forEach(function(info) { %>
            <div class="row rowsecond">
              <div class="col-md-6">
                <a href="/<%= controller %>/<%= info.id %>">
                  <img src="/stylesheets/img/<%= info.path_img %>" alt="Smiley face" height="123.75px" width="100%">
                </a>
              </div>
              <div class="col-md-6" style="line-height:200%;">
                <a href="/<%= controller %>/<%= info.id %>">
                  <span style="font-family: 'Times New Roman', Times, serif !important; font-size:18px;">
                    <%= info.title %>
                  </span>
                </a>
              </div>
            </div>
            <% }); %>
        </div>
      </div>

      <div style="margin-top:15%" class="col-12">
        <div class="fb-comments" data-href="http://150.95.109.217/<%= controller %>/<%= info.id %>" data-numposts="5" data-colorscheme="light"></div>
      </div>

    </div>

  </section>

</body>
<!-- Start Footer -->
<footer id="mu-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-footer-area">
          <div class="mu-footer-social">
            <a href="#">
              <span class="fa fa-facebook"></span>
            </a>
            <a href="#">
              <span class="fa fa-google-plus"></span>
            </a>
            <a href="#">
              <span class="fa fa-youtube"></span>
            </a>
          </div>
          <div class="mu-footer-copyright">
            <p>&copy; Copyright
              <a rel="nofollow" href="https://www.facebook.com/nguyenxuanbang96" style="color :coral;">FU - Team</a>. All right reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1 style="display: none" id="language">
    <%= lang_session %>
  </h1>
</footer>
<!-- End Footer -->

<!-- jQuery library -->
<script src="/stylesheets/assets/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/stylesheets/assets/js/bootstrap.js"></script>
<!-- Slick slider -->
<script type="text/javascript" src="/stylesheets/assets/js/slick.js"></script>
<!-- Counter -->
<script type="text/javascript" src="/stylesheets/assets/js/simple-animated-counter.js"></script>
<!-- Gallery Lightbox -->
<script type="text/javascript" src="/stylesheets/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Date Picker -->
<script type="text/javascript" src="/stylesheets/assets/js/bootstrap-datepicker.js"></script>
<!-- Ajax contact form  -->
<script type="text/javascript" src="/stylesheets/assets/js/app.js"></script>

<!-- Custom js -->
<script src="/stylesheets/assets/js/custom.js"></script>

</html>