<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= info_total_home_page[0] %>
  </title>
  <link rel="shortcut icon" href="/stylesheets/img/favicon.ico" type="image/x-icon">
  <link href="/stylesheets/assets/css/font-awesome.css" rel="stylesheet">
  <link href="/stylesheets/assets/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/assets/css/slick.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/assets/css/bootstrap-datepicker.css">
  <link href="/stylesheets/assets/css/magnific-popup.css" rel="stylesheet">
  <link id="switcher" href="/stylesheets/assets/css/theme-color/default-theme.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Prata' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <!-- <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/javascripts/index.js"></script>
  <script src="/javascripts/controllGallery.js"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
</head>

<body>

  <a class="scrollToTop" href="#">
    <i class="fa fa-angle-up"></i>
  </a>
  <header id="mu-header">

    <nav class="navbar navbar-default mu-main-navbar" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="margin-right: -121px;" href="">
            <img src="/stylesheets/img/logo.jpg" alt="Logo img">
          </a>
          <a class="navbar-brand" href="/" style="font-size: 26px;">EBC
            <span>
              <%= info_total_home_page[1] %>
            </span>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul id="top-menu" class="nav navbar-nav navbar-right mu-main-nav">
            <li>
              <a href="/">
                <%= menu_data.menu_homepage %>
              </a>
            </li>
            <li>
              <a href="#mu-about-us">
                <%= menu_data.menu_info %>
              </a>
            </li>
            <li>
              <a href="#mu-restaurant-menu">
                <%= menu_data.menu_event %>
              </a>
            </li>
            <li>
              <a href="#mu-gallery">
                <%= menu_data.menu_collection %>
              </a>
            </li>
            <li>
              <a href="#mu-contact">
                <%= menu_data.menu_contact %>
              </a>
            </li>
            <!-- <li>
              <a href="<%= menu_data.menu_login[0]['link'] %>">
                <%= menu_data.menu_login[0]['name'] %>
              </a>
            </li>
            <li>
              <a href="<%= menu_data.menu_logout[0]['link'] %>">
                <%= menu_data.menu_logout[0]['name'] %>
              </a>
            </li> -->
            <li>
              <div style="margin-top: 11px">
                <a href="/lang/en">
                  <img src="/stylesheets/img/coa.png" alt="" height="22px" width="42px">
                </a>
                <a href="/lang/vi">
                  <img src="/stylesheets/img/covn.png" alt="" height="22px" width="42px">
                </a>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- Start slider  -->
  <section id="mu-slider">
    <div class="mu-slider-area">
      <div class="mu-top-slider">
        <% menu_data.info.forEach(function(info) { %>
          <div class="mu-top-slider-single">
            <img src="<%= info['link'] %>" alt="<%= info['alt'] %>">
            <div class="mu-top-slider-content">
              <span class="mu-slider-small-title">
                <%= info['name'] %>
              </span>
              <br/>
              <br/>
              <br/>
              <p>
                <%= info['details'] %>
              </p>
            </div>
          </div>
          <% }); %>
      </div>
    </div>
  </section>
  <!-- End slider  -->

  <!-- Start About us -->
  <section id="mu-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-about-us-area">

            <div class="mu-title">
              <!-- <span class="mu-subtitle">Information</span> -->
              <h2 style="color:seagreen">
                <%= menu_data.menu_info %>
              </h2>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="mu-about-us-left">
                  <img src="<%= menu_data.info_company[0]['link'] %>" alt="img">
                </div>
              </div>
              <div class="col-md-6">
                <div class="mu-about-us-right">
                  <i>
                    <%= menu_data.info_company[0]['description'] %>
                  </i>
                  <br/>
                  <br/>
                  <br/>
                  <ul>
                    <% menu_data.event.forEach(function(info) { %>
                      <li>
                        <b>
                          <%= info['name'] %>
                        </b>
                      </li>
                      <% }); %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Start Restaurant Menu -->
  <section id="mu-restaurant-menu">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-restaurant-menu-area">

            <div class="mu-title">
              <!-- <span class="mu-subtitle">Discover</span> -->
              <h2 style="color : brown">
                <%= menu_data.page_show_room %>
              </h2>
            </div>

            <div class="mu-restaurant-menu-content">
              <ul class="nav nav-tabs mu-restaurant-menu">
                <li class="active">
                  <a href="<%= menu_data.product[0]['href'] %>" id="<%= menu_data.product[0]['href'] %>" data-toggle="tab">
                    <%= menu_data.product[0]['name'] %>
                  </a>
                </li>
                <% menu_data.product.forEach(function(info) { if(info['name'] == "Events" || info['name'] == "Sự Kiện") {} else { %>
                  <li>
                    <a href="#<%= info['href'] %>" id="<%= info['href'] %>" data-toggle="tab">
                      <%= info['name'] %>
                    </a>
                  </li>
                  <% }}); %>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane fade in active">
                  <div class="mu-tab-content-area">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="event_showroom">
                          <ul class="mu-menu-item-nav"></ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ----------------------------------------------------- -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="mu-gallery">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-gallery-area">

            <div class="mu-title">
              <!-- <span class="mu-subtitle">Event</span> -->
              <h2 style="color: blue;">
                <%= menu_data.menu_collection %>
              </h2>
            </div>

            <div class="mu-gallery-content">

              <!-- Start gallery image -->
              <div class="mu-gallery-body" id='gallery'>
                <!-- start single gallery image -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Gallery -->

  <!-- Start Client Testimonial section -->
  <section id="mu-client-testimonial">
    <div class="mu-overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="mu-client-testimonial-area">

              <div class="mu-title">
                <!-- <span class="mu-subtitle">Phan hoi</span> -->
                <h2>
                  <%= menu_data.customer_say %>
                </h2>
              </div>

              <!-- testimonial content -->
              <div class="mu-testimonial-content">
                <!-- --------------------------------------------------- -->
                <ul class="mu-testimonial-slider">
                  <li>
                    <div class="mu-testimonial-single">
                      <div class="mu-testimonial-info">
                        <p>Đẳng cấp,sự tin tưởng , chất lượng!</p>
                      </div>
                      <div class="mu-testimonial-bio">
                        <p>- Nguyễn Xuân Bằng</p>
                      </div>
                    </div>
                  </li>
                  <!-- --------------------------------------------------- -->
                  <li>
                    <div class="mu-testimonial-single">
                      <div class="mu-testimonial-info">
                        <p>Đẹp, tuyệt vời, tổ chức sự kiện chuẩn, chất lượng!</p>
                      </div>
                      <div class="mu-testimonial-bio">
                        <p>- Vy Vy</p>
                      </div>
                    </div>
                  </li>

                </ul>
              </div>
              <!-- --------------------------------------------------- -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Start Contact section -->
  <section id="mu-contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-contact-area">
            <div class="mu-title">
              <!-- <span class="mu-subtitle">Get In Touch</span> -->
              <h2>
                <%= menu_data.menu_contact %>
              </h2>
            </div>
            <div class="mu-contact-content">
              <div class="row">
                <div class="col-md-6">
                  <div class="mu-contact-left">
                    <!-- Email message div -->
                    <div id="form-messages"></div>
                    <!-- Start contact form -->
                    <form id="ajax-contact" method="post" action="mailer.php" class="mu-contact-form">
                      <div class="form-group">
                        <label for="name">
                          <%= menu_data.contact[0].fullname %>
                        </label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="<%= menu_data.contact[0].fullname %>" required>
                      </div>
                      <div class="form-group">
                        <label for="email">
                          <%= menu_data.contact[0].email %>
                        </label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="<%= menu_data.contact[0].email %>" required>
                      </div>
                      <div class="form-group">
                        <label for="subject">
                          <%= menu_data.contact[0].title %>
                        </label>
                        <input type="text" class="form-control" id="subject" name="subject" placeholder="<%= menu_data.contact[0].title %>" required>
                      </div>
                      <div class="form-group">
                        <label for="message">
                          <%= menu_data.contact[0].message %>
                        </label>
                        <textarea class="form-control" id="message" name="message" cols="30" rows="10" placeholder="<%= menu_data.contact[0].message %>"
                          required></textarea>
                      </div>
                      <button type="submit" class="mu-send-btn">
                        <%= menu_data.contact[0].value %>
                      </button>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mu-contact-right">
                    <div class="mu-contact-widget">
                      <h3>
                        <%= menu_data.details_company[0].my_address_title %>
                      </h3>
                      <p>
                        <%= menu_data.details_company[0].company_address %>
                      </p>
                      <address>
                        <p>
                          <i class="fa fa-phone"></i> (+84) 966189407</p>
                        <p>
                          <i class="fa fa-envelope-o"></i>contact@markups.io</p>
                        <p>
                          <i class="fa fa-map-marker"></i>29 Xuân Thủy, Cầu Giấy, Hà Nội</p>
                      </address>
                    </div>
                    <div class="mu-contact-widget">
                      <h3>
                        <%= menu_data.details_company[0].time_work %>
                      </h3>
                      <address>
                        <p>
                          <span>
                            <%= menu_data.details_company[0].time_work %>
                          </span>
                          <%= menu_data.details_company[0].time_in_day %>
                        </p>
                      </address>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact section -->
  <!-- Start Map section -->
  <section id="mu-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.4824455659596!2d105.52510551522687!3d21.013373693678606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b32ca5086d%3A0xa3c62e29d8ab37e4!2sFPT+University!5e0!3m2!1sen!2s!4v1524470002430"
      width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </section>
  <!-- End Map section -->

  <!-- Start Footer -->
  <footer id="mu-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-footer-area">
            <div class="mu-footer-social">
              <a href="#">
                <span class="fa fa-facebook"></span>
              </a>
              <a href="#">
                <span class="fa fa-google-plus"></span>
              </a>
              <a href="#">
                <span class="fa fa-youtube"></span>
              </a>
            </div>
            <div class="mu-footer-copyright">
              <p>&copy; Copyright
                <a rel="nofollow" href="https://www.facebook.com/nguyenxuanbang96" style="color :coral;">FU - Team</a>. All right reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h1 style="display: none" id="language">
      <%= lang_session %>
    </h1>
  </footer>
  <!-- End Footer -->

  <!-- jQuery library -->
  <script src="/stylesheets/assets/js/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/stylesheets/assets/js/bootstrap.js"></script>
  <!-- Slick slider -->
  <script type="text/javascript" src="/stylesheets/assets/js/slick.js"></script>
  <!-- Counter -->
  <script type="text/javascript" src="/stylesheets/assets/js/simple-animated-counter.js"></script>
  <!-- Gallery Lightbox -->
  <script type="text/javascript" src="/stylesheets/assets/js/jquery.magnific-popup.min.js"></script>
  <!-- Date Picker -->
  <script type="text/javascript" src="/stylesheets/assets/js/bootstrap-datepicker.js"></script>
  <!-- Ajax contact form  -->
  <script type="text/javascript" src="/stylesheets/assets/js/app.js"></script>

  <!-- Custom js -->
  <script src="/stylesheets/assets/js/custom.js"></script>
  <script lang="javascript">(function () { var pname = ((document.title != '') ? document.title : ((document.querySelector('h1') != null) ? document.querySelector('h1').innerHTML : '')); var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = 1; ga.src = '//live.vnpgroup.net/js/web_client_box.php?hash=265b162ab4d1bd8e7772a553d17f4e64&data=eyJzc29faWQiOjUzNDE0NDUsImhhc2giOiJhY2FiMjhhY2NiNTJjZTU5NzlmM2E3NzMwZDg0MzEwYSJ9&pname=' + pname; var s = document.getElementsByTagName('script'); s[0].parentNode.insertBefore(ga, s[0]); })();</script>
  <script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>
</body>

</html>